@model AdminFightersViewModel

<div class="page-title">
    <div class="title_left">
    <h3>User Profile</h3>
    </div>

    <div class="title_right">
        <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_searc">
            <div>
                
                    <a asp-area="" asp-controller="Admin" asp-action="AddFighter">
                        <button class="btn btn-primary">Додади борец</button>
                    </a>
                
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            @foreach(var fighter in Model.Fighters){
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                    <div id="crop-avatar">
                        <!-- Current avatar -->
                        <img class="img-responsive avatar-view" src="/lib/gentelella/production/images/picture.jpg" alt="Avatar" title="Change the avatar">
                    </div>
                    </div>
                    <h3>@fighter.FirstName @fighter.LastName</h3>

                    <ul class="list-unstyled user_data">
                    <li><i class="fa fa-map-marker user-profile-icon"></i> San Francisco, California, USA
                    </li>

                    <li>
                        <i class="fa fa-graduation-cap user-profile-icon"></i>
                        @fighter.FighterCategory.Name
                    </li>

                    <li class="m-top-xs">
                        <i class="fa fa-calendar user-profile-icon"></i>
                        @fighter.BirthDate
                    </li>
                    </ul>

                    <a class="btn btn-success" asp-controller="Admin" asp-action="EditFighter" asp-route-id="@fighter.ID">
                        <i class="fa fa-edit m-right-xs"></i> Измени
                    </a>
                    <br />

                    <!-- start skills -->
                    <!--<h4>Skills</h4>
                    <ul class="list-unstyled user_data">
                    <li>
                        <p>Web Applications</p>
                        <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                        </div>
                    </li>
                    <li>
                        <p>Website Design</p>
                        <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                        </div>
                    </li>
                    <li>
                        <p>Automation & Testing</p>
                        <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                        </div>
                    </li>
                    <li>
                        <p>UI / UX</p>
                        <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                        </div>
                    </li>
                    </ul> -->
                    <!-- end of skills -->
                </div>
                }
            </div>
        </div>
    </div>
</div>